import connexion
import six

{{#imports}}{{import}}
{{/imports}}
from {{sourceFolder}} import utils
{{#operations}}{{#operation}}

def {{operationId}}({{#allParams}}{{^isBodyParam}}{{paramName}}{{^required}}=None{{/required}}{{/isBodyParam}}{{#hasMore}}{{^isBodyParam}}, {{/isBodyParam}}{{/hasMore}}{{/allParams}}):
  """
  {{#summary}}{{.}}{{/summary}}{{^summary}}{{operationId}}{{/summary}}{{#notes}}
  {{.}}{{/notes}}

  Parameters
  ----------
  {{#allParams}}{{^isBodyParam}}{{paramName}}{{/isBodyParam}}
  {{#hasMore}}{{^isBodyParam}}
  {{/isBodyParam}}{{/hasMore}}{{/allParams}}
  Returns
  -------
  {{#returnType}}{{.}}{{/returnType}}{{^returnType}}None{{/returnType}}
  """

  if connexion.request.is_json:
    print(connexion.request.get_json())
    {{#allParams}}
      #{{paramName}} = {{baseType}}.from_dict(connexion.request.get_json())
    {{/allParams}}
  return 'do some magic!'
{{/operation}}{{/operations}}
